NEPHOS_API_DB_PATH=/private/tmp/nephos-manual/nephos.db
NEPHOS_API_KUBE_CONTEXT=docker-desktop
NEPHOS_API_INTERNAL_DOMAIN=nephos.localhost
# Optional when auto-detection is ambiguous.
# NEPHOS_API_INGRESS_CLASS=nginx
NEPHOS_API_RUN_KUBERNETES_TESTS=1
PULUMI_CONFIG_PASSPHRASE=local-dev
